@import "../../app.scss";

.featured {
  height: 100%; /* Cambiar la altura a 100% para ocupar todo el espacio disponible */
  position: relative;

  .category {
    position: absolute;
    top: 5%; /* Cambiar a porcentaje para que se ajuste mejor en diferentes tamaños de pantalla */
    left: 5%; /* Cambiar a porcentaje */
    font-size: 3vw; /* Utilizar vw para el tamaño de fuente */
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    @include tablet {
      font-size: 4vw; /* Ajustar el tamaño de fuente para tabletas */
      top: 3%; /* Ajustar la posición superior */
      left: 3%; /* Ajustar la posición izquierda */
    }

    @include mobile {
      font-size: 5vw; /* Ajustar el tamaño de fuente para dispositivos móviles */
      top: 2%; /* Ajustar la posición superior */
      left: 2%; /* Ajustar la posición izquierda */
    }

    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 2%; /* Cambiar a porcentaje */
      padding: 1%; /* Cambiar a porcentaje */

      @include mobile {
        margin-left: 1%; /* Ajustar el margen izquierdo para dispositivos móviles */
        padding: 0.5%; /* Ajustar el relleno para dispositivos móviles */
      }
    }
  }

  #genre {
    z-index: 2;
  }

  .img-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    width: 45%; /* Utilizar porcentaje en lugar de un valor fijo */
    position: absolute;
    left: 5%; /* Utilizar porcentaje */
    bottom: 5%; /* Utilizar porcentaje */
    color: white;
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 60%; /* Ajustar el ancho para tabletas */
      left: 3%; /* Ajustar la posición izquierda para tabletas */
      bottom: 3%; /* Ajustar la posición inferior para tabletas */
    }

    @include mobile {
      width: 90%; /* Ajustar el ancho para dispositivos móviles */
      left: 2%; /* Ajustar la posición izquierda para dispositivos móviles */
      bottom: 2%; /* Ajustar la posición inferior para dispositivos móviles */
    }

    img {
      width: 70%; /* Utilizar porcentaje para adaptar el tamaño de la imagen */
      margin-top: 5%; /* Utilizar porcentaje para el margen superior */

      @include tablet {
        width: 80%; /* Ajustar el tamaño de la imagen para tabletas */
      }

      @include mobile {
        width: 90%; /* Ajustar el tamaño de la imagen para dispositivos móviles */
        margin-top: 3%; /* Ajustar el margen superior para dispositivos móviles */
      }
    }

    .desc {
      margin: 3% 0; /* Utilizar porcentaje para el margen superior e inferior */
      width: 100%; /* Utilizar ancho del 100% para asegurar que el texto se ajuste correctamente */

      @include mobile {
        margin: 5% 0; /* Ajustar el margen superior e inferior para dispositivos móviles */
      }
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;

      button {
        padding: 2% 4%; /* Utilizar porcentaje para el relleno */
        border-radius: 5px;
        font-size: 2vw; /* Utilizar vw para el tamaño de fuente */
        margin-right: 2%; /* Utilizar porcentaje para el margen derecho */
        margin-top: 2%; /* Utilizar porcentaje para el margen superior */

        @include mobile {
          padding: 1% 2%; /* Ajustar el relleno para dispositivos móviles */
          font-size: 3vw; /* Ajustar el tamaño de la fuente para dispositivos móviles */
          margin-right: 1%; /* Ajustar el margen derecho para dispositivos móviles */
          margin-top: 1%; /* Ajustar el margen superior para dispositivos móviles */
        }
      }
    }
  }
}