@import "../../app.scss";

.home {
  background-color: rgb(17, 17, 17);

  .card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 10px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}