/* navbar.scss */
.navbar {
  width: 100%;
  color: #fff;
  font-size: 16px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 2%, rgba(6, 6, 7, 0.186) 1%);
  transition: background-color 0.3s ease;

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }

  .left {
    display: flex;
    align-items: center;

    img {
      height: 25px;
      margin-right: 40px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .link {
      text-decoration: none;
      color: #fff;
      margin-right: 20px;
      font-size: 18px;
      transition: color 0.3s ease;

      &:hover {
        color: #bbb;
      }

      &.navbarmainLinks {
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .icon {
      margin: 0 15px;
      cursor: pointer;
      font-size: 20px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      object-fit: cover;
      cursor: pointer;
    }

    .profile {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      .options {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: var(--main-color);
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        z-index: 20;

        span {
          padding: 10px 20px;
          color: white;
          white-space: nowrap;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #555;
          }
        }
      }

      .options.open {
        display: flex;
      }
    }
  }
}

.modal.small {
  width: 200px; /* Ancho del modal */
  height: 150px; /* Altura del modal */
  /* Agrega otros estilos según sea necesario */
}